<body>
    <h1>Skills </h1>
    <ul>
      <% skills.forEach(function(t,idx) { %>
        <li>
            <a href="/skills/<%= idx %>"><%= t.skill %></a>
            - 
          <%= t.learned ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add to skills</a>
  </body>